body {
  background-image: url("Dragon picture.jpg");   
}
h1 {
  color:dark gray;
  text-align:center;
  font-family:calligrapher;
  font-size:300%;
}
p {
  color:gray;
  text-align:left;
  font-family:arial;
  font-size:160%;
}
